.react-datepicker-wrapper{
   padding:0 4px;
   display: flex;
    align-items: center;
   input{
      width: 140px;
      border:1px solid lightgray;
      border-radius: 0.25rem;
      padding-left: 32px;
   }
   svg{
      fill: var(--text-color);
      font-size: 20px;
   }
}